.typing-txt-block {
    height: 100vh;
    display: block;
    position: relative;
    background-image: url("./images/marble.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* 控制背景圖片 .bg-animation 的動態效果 */
  .typing-txt-block.bg-animation {
    -webkit-animation: bg-animation 20s ease-in-out infinite;
    animation: bg-animation 20s ease-in-out infinite;
  }

  /* 背景圖片上下位移 */
  /* 定義一個動畫用@keyframes 後面加名稱 */
  @keyframes bg-animation {
    0% {
      background-position: top;
    }
    50% {
      background-position: bottom;
    }
    100% {
      background-position: top;
    }
  }

  /* 利用 position 的觀念，將文字區塊垂直置中在圖片正中央 */
  .typing-txt-block .container h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
    color: transparent;
  }

  /* 利用偽元素 ::before ，將要呈現的文字顯示以及輸入文字動態效果的 css 樣式寫入 */
  .typing-txt-block .container h1::before {
    content: attr(data-text);
    /* 一定要有content這個屬性，如果沒有content這個屬性，偽元素不會出現在畫面上 */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: rgb(6, 6, 6);
    overflow: hidden;
    border-right: 1px solid #0e0e0e;
    animation: type 3s steps(18), blink 0.5s infinite alternate;
    /* type blink皆為動畫名稱 */
    -webkit-animation: type 3s steps(18), blink 0.5s infinite alternate;
    white-space: nowrap;
    /* 空白屬性設置為nowrap時，兩個或多個white-spaces的每個序列將顯示為單個空白。除非明確指定，否則元素中的內容不會換行 */
  }

  /* type 的動畫設定：在 3 秒內將文字寬度以 18 格從 0% ~ 100% 顯示，只播放一次 */
  /* %數可以代表時間的幾% */
  @keyframes type {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  /* blink 的動畫設定：每 0.5s 顯示輸入的閃爍線，並無限播放閃爍線顏色(從透明變為白色) */
  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: #ffffff;
    }
  }


.typing-txt-block .trigger {
    width: 20px;
    height: 20px;
    right: 40px;
}

.typing-txt-block .trigger {
  width: 28px;
  height: 28px;
  position: absolute;
  top: 33px;
  right: 50px;
  bottom: auto;
  z-index: 999;
  cursor: pointer;
  transition: top 0.1s ease-in-out;
}

.typing-txt-block .trigger span {
  display: block;
  width: 100%;
  height: 4px;
  background: rgb(0 0 0);
  margin: 0 0 5px 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.typing-txt-block .trigger span:first-child {
  top: 0;
  left: 0;
}

.typing-txt-block .trigger span:nth-child(2) {
  top: 10px;
  left: 0;
}

.typing-txt-block .trigger span:nth-child(3) {
  top: 20px;
  left: 0;
}